:root{
    --main-bg: hsl(217, 54%, 11%);
    --card-bg: hsl(216, 50%, 16%);
    --line: hsl(215, 32%, 27%);
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    color: var(--soft-blue);
    background-color: var(--main-bg);
    font-size: 18px;
    font-family: 'Outfit', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    margin: 25% auto;
    width: 350px;
    aspect-ratio: 0.58;
    padding: 1em;
    border-radius: 15px;
    background-color: var(--card-bg);
    box-shadow: 0 25px 5px 15px rgba(0, 0, 0, 0.15),  0 0 0px 35px rgba(0, 0, 0, 0.1);
    
}
img{
    width: 100%;
    aspect-ratio: 1;
    border-radius: 15px;
}
h3{
    color: #fff;
    padding: 1em 0;
}
.details{
    display: flex;
    justify-content: space-between;
    padding: 1em 0;
    border-bottom: 0.05px solid  var(--line);
}

.details .time,.details .price, .owner{
    position: relative;
    padding: 0 1em;
}
.details .price{
    color: var(--cyan);
}

.owner{
    text-align: center;
    line-height: 4.4em;
}
.owner span{
    color: #fff;
}
.details .price::before{
    position: absolute;
    content: url(./images/icon-ethereum.svg);
    top: 0.2em;
    left: 0;
    width: 0.25em;
    aspect-ratio: 1;
}

.details .time::before{
    position: absolute;
    content: url(./images/icon-clock.svg);
    top: 0.15em;
    left: -0.2em;
    width: 0.25em;
    aspect-ratio: 1;
}

.owner::before{
    position: absolute;
    content: "";
    background-image: url(./images/image-avatar.png);
    background-size: cover;
    top: 1.15em;
    left: 0.3em;
    width: 2em;
    aspect-ratio: 1;
    border: 1px solid #fff;
    border-radius: 50%;
}